@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import '../../../src/style/_reset.scss';

h2 {
  color: white;
  font-family: 'Yellowtail', cursive;
  text-shadow: 1px 0px 20px white;
}

.somepadding {
  margin-top: 10px;
}
