@import '../../../src/style/_vars.scss';

@import '../../../src/style/_reset.scss';



.nav-bar {
 background-color: $darkgrey;
  color: white;
  height: 100%;
  margin-bottom: 30px;
}

li {
   border-radius: 4px;
   font-family: "arial-black";
   font-size: 14px;
   color: #FFF;
   padding: 8px 12px;
   cursor: pointer;
 }
