@import '../../../src/style/_vars.scss';

@import '../../../src/style/_reset.scss';


.nav-bar {
 background: linear-gradient(#1E5621, white);
  text-align:right;
  width: auto;
}


 // a {
 //
 //   display: inline-block;
 //   border-radius: 4px;
 //   font-family: "arial-black";
 //   font-size: 14px;
 //   color: #FFF;
 //   padding: 8px 12px;
 //   cursor: pointer;
 //
 // }
