// h1 {
//   color: white;
//   font: arial;
//   font-size: 100px;
// }
//
// #big {
//   font-size: 100px;
// }
//
// #blue-box {
//   width: 960px;
//   height: 400px;
//   background-color: blue;
// }
// // 
